@model IEnumerable<InvoiceMEF.Models.ItemLine>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinglePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinglePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Back to Invoices", "Index", "Invoices")

